<!DOCTYPE html>

<html>
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
            <h2>Grupo:</h2>
            <p>João Paulo Felgas / Matrícula: 202002020156</p>
            <p>Igor Frazão Ayres / Matrícula: 202001452117</p>
            <p>Rayane Martins / Matrícula: 201803416203</p>
            <p>Patrik Ferreira de Almeida / Matrícula: 202002214619</p>
            
            <a href="/gerenciar_hardware"><button style="background: #069cc2; border-radius: 6px; padding: 15px; cursor: pointer; color: #fff; border: none; font-size: 16px;">Gerenciador</button></a>
            
        
    </body>
</html>
